:root {
  --hit: #557443;
  --brow: #AE8B31;
  --bg_1: #25221d;
  --bg_2: #332c22;
  --text_Em: white;
  --text: rgb(212,221,228)
}
a{
  color: var(--text);
}
.non_visi{
  display: none !important;
}
.flex{
  display: flex;
  justify-content: space-around;
}
.half{
  width: 40vw;
}
.on-click{
  cursor: pointer;
  user-select: none;
}
.pc_none{
  display: none;
}
.block{
  color: var(--text_Em);
  background-color: var(--bg_2);
  padding:20px;
  border-radius: 10px;
}
h1{
  text-align: center;
  color: white;
}




body{
  background-color: var(--bg_1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


#right_body{
  background-color: var(--bg_1);
  width:85vw;
  min-height: 100vh;
  padding: 2vh 1vw;
  overflow: hidden;
}

/* 今日のデータ */

#pass_day_div h2{
  position: relative;
  padding: 0 65px;
  text-align: center;
  color: var(--text_Em);
}
#pass_day_div h2:before{
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: var(--text);
}
#pass_day_div h2 span{
  position: relative;
  padding: 0 1em;
  background: var(--bg_1);
}

#mode_today #not_yet{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;
}
#mode_today #not_yet a{
  color: var(--text);
}
#not_yet div{
  border-radius: 10px;
}


/* 結果表示 */
#ans_dis{
  display: flex;
  justify-content: space-around;
}
#ad_l div{
  display: flex;
  justify-content: space-around;
}
#ad_r div{
  display: flex;
  justify-content: space-around;
}
.rect div{
  border-radius: 10%;
}
.circle div{
  border-radius: 50%;
}
.NO{
  color: white;
  background-color: rgb(68, 68, 68);
}
.HIT{
  color: whtie;
  background-color: #557443;
}
.BLOW{
  color: white;
  background-color: #AE8B31;
}
.dis_text{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:4px;
  padding: 4px;
  width: 3vw;
  height: 3vw;
}

#nokori_tango{
  width: 81vw;
  margin: 1vw;
}
#nokori_tango p{
  padding-left: 10px;
}
#myChart2{
  margin-top: 20px;
}

@media screen and (max-width: 1000px) { /*ウィンドウ幅が最大1000pxまでの場合に適用*/
  #pass_day_div h2{
    font-size: 120%;
  }
  #right_body{
    width: 98vw;
  }
  .flex{
    flex-direction: column;
  }
  .k_list ul{
    column-count: 3;
    padding-left: 0px;
  }
  .k_list{
    width: 79vw;
    height: auto;
  }
  .mobile_no{
    display: none;
  }
  .half{
    width: 95vw;
    margin-left: 2vw;
  }
  .pc_none{
    display: flex;
  }
  .block{
    margin-top: 10px;
  }
  .dis_text{
    margin:8px;
    padding: 4px;
    width: 12vw;
    height: 12vw;
  }
  #ans_dis{
    display: flex;
    flex-direction: column;
  }
  #nokori_tango{
    width: 95vw;
    margin-left: 2vw;
    margin-top: 10px;
  }
}