:root {
  --hit: rgb(167,210,141);
  --brow: rgb(252, 201, 72);
  --bg:rgb(228, 237, 241);
}
html {
  touch-action: manipulation;
}
body{
  width: 99vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: var(--bg);
  flex-direction: column;
  align-items: center;
  overflow:hidden scroll;
}
#body {
  width: 30vw;
  display: inline-block;
  background-color: var(--bg);
  margin: 0 auto;
  overflow-wrap: break-word;
}
.explanation{
  width: 28vw;
  display: inline-block;
  background-color: var(--bg);
  margin: 1vw;
}
#header{
  width: 30vw;
  background-color: var(--bg);
  border-bottom: solid 1px rgb(167,210,141);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(127,159,53);
  font-size: 1.4em;
}
h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(127,159,53);
  font-size: 1.4em;
}
.hit_ex{
  background-color: var(--hit);
}
.blow_ex{
  background-color: var(--brow);
}

#graph{
  width: 30vw;
  position:absolute;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  background-color: rgba(228, 237, 241, 0);
}
#graph #graph_body{
  border: solid 3px rgb(211,147,93) ;
  background-color: var(--bg);
  text-align: center;
  font-weight: bold;
  border-radius: 0.5em;
  margin: 1vw;
  padding:2em;
}
#graph #graph_bt{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#graph .graph_bt_c{
  padding: 1em;
  border-radius: 1em;
  width: 4em;
  cursor: pointer;
}
#graph #graph_bt2{
  padding-top: 1ex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#graph .graph_bt_url{
  padding: 1em;
  border-radius: 1em;
  min-width: 50%;
  cursor: pointer;
}
#graph #graph_copy{
  background-color: rgb(252, 201, 72);
}
#graph #graph_tw{
  background-color: rgb(128,197,222);
}
#graph #graph_tw_url{
  background-color: rgb(128,197,222);
}
#graph #graph_close{
  margin-top: 10px;
  font-size: large;
  cursor: pointer;
}
#graph #graph_body #emoji_place{
  text-align: left;
}

.inline-img{
  margin-left: 10px;
  cursor: pointer;
}
.inline-img-r{
  margin-right: 10px;
  cursor: pointer;
}
#place_holder{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

#top_info{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 2px 4px;
  align-items: center;
}
#time_left{
  color: rgb(211,147,93);
  text-align: right;
  font-size: 90%;
}

/* ディスプレイ */
#remain_num{
  color: rgb(211,147,93);
  font-size: 90%;
}
#remain_unvisi{
  cursor: pointer;
  padding-left: 0.5rem;
  font-size: 90%;
}
#eval_display{
  padding-bottom:  5px;
}
#eval_display .row{
  display: flex;
  justify-content: space-around;
  padding-top: 2px;
  padding-bottom: 2px;
}
#eval_display .display_num{
  width: 2.3vw;
  height: 2.3vw;
  aspect-ratio: 1 / 1;
  font-size: 1.3em;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border: solid 0.15em rgb(167,210,141);
  text-align: center;
  font-weight: bold;
  vertical-align:middle;
}
#eval_display .dis-pa{
  width: 0.5vw;
}
#eval_display .row_now_solve{
  border: solid 0.15em rgb(211,147,93);
  color: black;
  cursor: pointer;
}
#eval_display .now_solve{
  border: solid 0.15em rgb(128,197,222);
  color: black;
}
#eval_display .right_display{
  border-radius: 50%!important;
}
#eval_display .word_hit{
  background-color: var(--hit);
  border: solid 0.15em var(--hit);
  color: black;
}
#eval_display .word_blow{
  background-color: var(--brow);
  border: solid 0.15em var(--brow);
  color: black;

}
#eval_display .word_none{
  background-color: gray;
  border: solid 0.15em gray;
  color: white;
}
/* ディスプレイ */

/* 例示用 */
#switch_lang{
  cursor: pointer;
}
#hatena .row{
  display: flex;
  justify-content: space-around;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}
#hatena .display_num{
  width: 8%;
  height: auto;
  aspect-ratio: 1 / 1;
  font-size: 1.3em;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border: solid 2px rgb(167,210,141);
  text-align: center;
  font-weight: bold;
  vertical-align:middle;
}
#hatena .right_display{
  border-radius: 50%!important;
}
#hatena .word_hit{
  background-color: var(--hit);
  border: solid 2px var(--hit);
}
#hatena .word_blow{
  background-color: var(--brow);
  border: solid 2px var(--brow);
}
#hatena .word_none{
  background-color: gray;
  border: solid 2px gray;
  color: white;
}
/*  */


.flex_center{
  display: flex;
  justify-content: center;
}
.inputs{
  display: flex;
  justify-content: center;
}



#input_text{
  font-size: 140%;
  width: 9em;
  text-align: center;
  border: solid rgb(167,210,141) 2px;
  background-color: var(--bg);
  border-radius: 1em;
  padding: 3px;
  /* margin-bottom: 10px; */
  margin: 2px;
  margin-right: 1em;
}

#Decision_button{
  font-size: 140%;
  margin:5px;
  border: solid #555 0px;
  background-color: rgb(211,147,93);
  color: black;
  margin-left: 1em;
}
#Decision_button:hover{
  background-color: rgb(180, 124, 78);
}

/* キーボード */
#keybord .row{
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
  padding-bottom: 3px;
}
#keybord button{
  width: 2.5vw;
  height: 1.7vw;
  border-radius: 15%;
  font-weight: bold;
  border: solid #555 0px;
  background-color: rgb(133,202,200);
  color: black;
}
#keybord button:hover{
  background-color: rgb(114, 170, 168);
  border:  solid #555 1px !important;
}
#keybord .space_bt{
  background-color: var(--bg)!important;
  border:  dashed #555 1px !important;
}
#keybord .func_bt{
  background-color: var(--bg)!important;
  border:  dashed #555 1px !important;
}
#keybord .func_bt:hover{
  background-color: rgb(128,197,222)!important;
}
#keybord hr{
  margin:2px 0;
  color: #555;
}
#keybord .word_hit{
  background-color: var(--hit);
  border: solid 0px var(--hit);
}
#keybord .word_hit:hover{
  background-color: var(--hit)!important;
}
#keybord .word_blow{
  background-color: var(--brow);
  border: solid 0px var(--brow);
}
#keybord .word_blow:hover{
  background-color: var(--brow)!important;
}
#keybord .word_none{
  background-color: gray;
  border: solid 0px gray;
  color: white;
}
#keybord .word_none:hover{
  background-color: gray!important;
}

#keybord_move{
  margin-top: 1ex;
  margin-bottom: 2ex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#keybord_type{
  margin-top: 1ex;
  margin-bottom: 2ex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.key_type_bt{
  width: 20%;
  background-color: rgb(128,197,222);
  font-size: large;
  border: none;
  padding: 2px;
  border-radius: 10px;
  color: black;
}
.key_type_bt:hover{
  background-color: rgb(49, 170, 214);
}
.cuurent{
  background-color: rgb(49, 170, 214);
}
/* #kotonoha_rando_div{
  display: flex;
  justify-content: center;
}
#kotonoha_rando{
  cursor: pointer;
  width: 100%;
  background-color: rgb(128,197,222);
  font-size: large;
  border: none;
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 2vh;
  color: black;
} */
/* キーボード */

/* 戦歴 */
#history{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#history .row_his{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#history .h-text{ /* lineheight は予期せぬ動作防止のため、1にしておくべき？*/
  text-align: center;
  line-height:1;
  vertical-align: middle;
}
#cahrt_canvas{
  display: flex;
  justify-content: center;
}
#history #myChart{
  height: 20ex;
  width: 100%;
}
#remain_text{
  max-width: 40ex;
  overflow-wrap: break-word;
}
#before_tango{
  display: inline;
}
/* 戦歴 */

/* 色切り替え */
#change_colour{
  font-size: large;
}
#change_colour label{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  align-items: center;
  cursor: pointer;
}
.colour_ex_box{
  width: 50%;
  border-radius: 15%;
  aspect-ratio: 1;
}
/* 色切り替え */
#setting{
  word-break: break-all;
}

#alert{
  width: 100vw;
  position:absolute;
  display: flex;
  justify-content: center;
}
#alert div{
  width:30vw;
  background-color: rgb(211,147,93);
  text-align: center;
  font-weight: bold;
  border-radius: 0.5em;
  margin: 1em;
  padding:0.4em;
  position: fixed;
  top: 1vw;
}

#linek{
  cursor: pointer;
  color: rgb(128,197,222);
  font-weight: bold;
}

#github_img{
  max-width: 80vw;
  border: 2px gray solid;
}

/* 見えない */
.non_visi{
  display: none!important;
}

@media screen and (max-width: 1400px) { /*ウィンドウ幅が最大1400pxまでの場合に適用*/
  #body{
    width: 40vw;
  }
  #eval_display .display_num{
    width: 3vw;
    height: 3vw;
  }

  #time_left{
    font-size: 80%;
  }
  #remain_num{
    font-size: 80%;
  }
  #remain_unvisi{
    font-size: 80%;
  }
  #eval_display .row .display_num{
    width: 8%;
  }
  #keybord button{
    width: 3.5vw;
    height: 3vw;
  }
  #alert div{
    width:40vw;
  }
  .explanation{
    width: 40vw;
  }
  #header{
    width: 40vw;
  }
  #input_text{
    font-size: 1.2em;
    margin-right: 0.3em;
  }
  #Decision_button{
    font-size: 1.5em;
    margin-left: 0.3em;
  }
}
@media screen and (max-width: 1000px) { /*ウィンドウ幅が最大1000pxまでの場合に適用*/
  #body{
    width: 70vw;
  }

  #eval_display .row .display_num{
    width: 5vw;
    height: 5vw;
    font-size: 1em;
  }
  #eval_display .dis-pa{
    width: 1vw;
  }
  #keybord button{
    width: 6vw;
    height: 6vw;
  }
  #alert div{
    width:70vw;
  }
  .explanation{
    width: 94vw;
  }
  #header{
    width: 98vw;
  }
  #graph{
    width: 94vw;
  }
}
@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  #body{
    width: 98vw;
  }

  #eval_display .row .display_num{
    width: 7.5vw;
    height: 7.5vw;
    font-size: 1em;
  }
  #eval_display .dis-pa{
    width: 1vw;
  }
  #keybord button{
    width: 9vw;
    height: 9vw;
  }
  #alert div{
    width:80vw;
  }
  .explanation{
    width: 94vw;
  }
  #header{
    width: 98vw;
  }
  #graph{
    width: 94vw;
  }
}